#data-grid {
    position: fixed;
    width: 325px;
    height: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 0;
}

.data-grid-container {
    align-items: stretch;
}

.data-grid-row,
.data-grid-header-row {
    display: flex;
}

.data-grid-header-cell {
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
}

.data-grid-row-cell {
    padding: 10px;
    font-size: 0.80em;
}