body {
  font-family: "Open Sans";
  font-size: 1em;
  color: #444;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: RGB(41, 44, 52);
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #444;
}

a:visited {
  color: #444;
}


