.data-summary {
  background-color: RGB(20, 22, 26);
}

.quant {
  border-left-color: rgba(255, 255, 255, 0.1);
  background-color: #292C33;
  box-shadow: 0px 0px 5px #111;
}

.quant label {
  color: #000;
}

.widget {
  background-color: #111;
}

.estimate-details {
  background-color: RGBA(103, 104, 102, 0.2);
}

svg .path,
svg .arc {
  stroke: rgba(255, 0, 110, 0.5);
  fill: none;
}

#border {
  fill: rgb(255, 255, 255);
  stroke: #ccc;
}

.bar,
.ellipse {
  fill: rgba(138, 189, 253, 0.8);
}

.line {
  stroke-width: 2px;
  stroke-linecap: round;
}

.text {
  fill: #404040;
}

.legend,
.label {
  fill: #999;
}

.title {
  fill: #404040;
}

.axis {
  stroke: #666;
}

.bar {
  fill: rgb(138, 189, 253, 0.80);
}

.bar-cycle-time {
  fill: rgb(255, 110, 110);
}

.quant:hover .estimate-details {
  background-color: transparent;
  -webkit-transition: background-color 0.7s;
  /* Safari */
  transition: background-color 0.7s;
}

.quant:hover .widget-container {
  background-color: #111;
  opacity: 0.8;
}

.quant:hover .widget-container .widget {
  background-color: transparent;
}

.quant:hover .widget-container:hover {
  background-color: #000;
  opacity: 1;

  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}

.quant:hover .widget-container .title {
  fill: #777;
}

.widget-container:hover .widget {
  opacity: 0.5;

  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.quant:hover .label {
  fill: #333;
}

.quant .widget-container>*:hover {
  opacity: 1;
}

.quant .widget-container>.widget:hover {
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0.2));
}

.quant .widget-container:hover .labels {
  fill: #999;
}

.quant .widget-container:hover .axis {
  stroke: #333;
}

.quant .widget-container:hover .bar {
  opacity: 0.5;
  fill: #999;
}

.quant .widget-container:hover .bar-cycle-time {
  fill: rgb(255, 110, 110);
}

.quant .widget-container>*:hover svg>.axis {
  stroke: #333;
}

.quant .widget-container>*:hover svg>.bar {
  opacity: 0.8;
  fill: rgb(138, 189, 253, 0.80);
}

.quant .widget-container>*:hover svg>.bar-cycle-time {
  fill: rgb(255, 110, 110);
}

.quant .widget-container>*:hover svg>.labels {
  fill: #fff;
}

.quant .widget-container>*:hover svg>.title {
  fill: yellowgreen;
}

.quant .widget-container>*:hover svg>.legend {
  fill: #999;
}

.red {
  fill: red;
  fill-opacity: 0.5;
}

.blue {
  fill: blue;
  fill-opacity: 0.5;
}

.green {
  fill: green;
  fill-opacity: 0.5;
}

.yellow {
  fill: yellowgreen;
  fill-opacity: 0.5;
}